0.0.0.0:8001
log stdout
errors {
  log stdout
  404 /index.html
}
gzip
prometheus

proxy /api https://{$KUBERNETES_SERVICE_HOST}:{$KUBERNETES_SERVICE_PORT} {
  insecure_skip_verify
}
proxy /apis https://{$KUBERNETES_SERVICE_HOST}:{$KUBERNETES_SERVICE_PORT} {
     insecure_skip_verify
}
proxy /oapi https://{$KUBERNETES_SERVICE_HOST}:{$KUBERNETES_SERVICE_PORT} {
     insecure_skip_verify
}
