<div class='list-group list-view-pf list-view-pf-view'>

  <ipaas-loading [loading]="loading">
    <div class='list-group-item service' *ngFor='let service of services'>
      <div class='list-view-pf-checkbox'>
        <input type='checkbox'>
      </div>
      <div class='list-view-pf-actions'>
        <div class='dropdown pull-right dropdown-kebab-pf'>
          <button class='btn btn-link dropdown-toggle' type='button' id='dropdownKebabRight9' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>
              <span class='fa fa-ellipsis-v'></span>
            </button>
          <ul class='dropdown-menu dropdown-menu-right' aria-labelledby='dropdownKebabRight9'>
            <li>
              <a [routerLink]="[service.id, 'edit']">Edit</a>
            </li>

            <li>
              <a (click)="openDeleteDialog(deleteServiceModal, service)" title="Delete this Service">Delete</a>
            </li>
          </ul>
        </div>

      </div>
      <div class='list-view-pf-main-info'>
        <div class='list-view-pf-left'>
          <img class='list-view-pf-icon-sm' src="{{service.icon}}" height="30" width="30"/>
        </div>
        <div class='list-view-pf-body'>
          <div class='list-view-pf-description'>
            <div class='list-group-item-heading'>
              <a [routerLink]="[service.id]" class="card-title" title="view service">{{ service.name }}</a>

              <span class='open-service-icon'>
                <a target="service"
                   *ngIf="service.exposeUrl"
                   [href]="service.exposeUrl"
                   title="Open this service's service in a separate browser tab">
                  <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
              </span>
            </div>
            <div class='list-group-item-text'>
              {{service?.spec?.clusterIP || ''}}
            </div>
          </div>
          <div class='list-view-pf-additional-info'>
            <div class='list-view-pf-additional-info-item' title="created time">
              {{service.creationTimestamp | amTimeAgo}}
            </div>
            <div class='list-view-pf-additional-info-item' title="labels" *ngFor='let entry of service.labels | entries'>
              {{entry.key}}: {{entry.value}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ipaas-loading>
</div>

<modal #deleteServiceModal title="Delete Service">
  <modal-content>
    <delete-service-dialog></delete-service-dialog>
  </modal-content>
</modal>


