.openshift-console-link-panel a {
  font-size: 91%;
  padding-top: 28px;
  display: block;
}

.app-env-info-panel {
  padding-top: 30px;
}

.header {
  font-size: 120%;
  font-weight: bolder;
}

.header a {
  color: #363636;
}

.app-name {
  font-size: 108%;
  font-weight: bold;

  padding-top: 20px;
}

.app-env-info-panel-header {
  padding-bottom: 30px;
}

.app-env-info-panel-row {
}

.card-pf-title .kebab {
  padding-top: 0px;
}

.card-pf-title .app-version-link {

}
