.input-action-message-panel {
  padding-bottom: 2px;
}

.test-service-panel {
  padding-bottom: 20px;
}

.jenkins-input-panel {
  padding-bottom: 10px;
}

.jenkins-input-panel a{
  font-size: 10px;
}

.question-panel {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}